html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: hsl(0, 1%, 48%);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.calculator {
  background-color: hsl(0, 15%, 13%);
  display: flex;
  flex-direction: column;
  padding: 30px 10px 10px;
  gap: 5px;
  border-radius: 8px;
  height: 641px;
  width: 435px;
}

.display {
  background-color: hsl(0, 0%, 58%);
  height: 96px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.display-top {
  height: 26px;
  display: flex;
  justify-content: end;
  padding: 15px 10px 0;
  font-size: large;
}

.display-bottom {
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px 0;
  font-size: 35px;
}

.keys {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 415px;
  height: 500px;
  gap: 5px;
}

.removal-keys {
  display: flex;
  gap: 5px;
}

.operator-keys {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.number-keys {
  display: flex;
  flex-wrap: wrap;
  width: 310px;
  gap: 5px;
}

.key {
  width: 100px;
  height: 96px;
  background-color: hsl(210, 80%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 8px;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.big {
  width: 205px;
}

.clear {
  background-color: hsl(0, 70%, 50%);
}

.del {
  background-color: hsl(40, 95%, 45%);
}

.operator-keys .key {
  background-color: hsl(130, 80%, 35%);
}

.key:hover {
  cursor: pointer;
  filter: brightness(1.2);
}